body
{
    font-family: Arial;
	background-color: #D9EFF0;
	width: 100%;
	margin-bottom:10px;
	margin-top:10px;
}
.footer
{
	font-family: verdana;
	font-size: xx-small;
	text-align: left;
}

.GridView
{
   font-family: Arial;
	width: 590px;
} 
.title1
{
	font-family: Century Gothic;
	font-size: 40px;
	color: #53536F;
    text-decoration:none;
	
}
.bodyContent
{
    font-family: Arial;
    height:550px;
	width:650px;
}

.formPanel
{
	font-family: Arial;
}

.gridPanel
{
    font-family: Arial;
}
.menu1
{
    font-family: Arial;
	width: 250px;
}

